*.iml
.gradle
/local.properties
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/dictionaries
/.idea/**/shelf
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
